<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userdefaults_session_access_token_expiration</key>
	<string>access_token_expiration</string>
	<key>userdefaults_session_access_token_value</key>
	<string>access_token_value</string>
	<key>userdefaults_notified_always</key>
	<string>notified_always</string>
	<key>userdefaults_asked_always</key>
	<string>asked_always</string>
	<key>userdefaults_logged_in</key>
	<string>logged_in</string>
</dict>
</plist>
